.header{
    text-align: center;
    background-color: #679097;
    height: 100px;
    font-weight: bold;
    padding: 30px;
    font-size: 30px;
    color: rgb(61, 43, 32);
}
.navbar{
    background-color: rgb(66 17 17);
    padding: 20px;
    height: 60px;    
}
a {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
