.header{
    text-align: center;
    background-color: rgb(172, 176, 176);
    height: 50px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    color:rgb(58, 32, 9)
}
.footer{
    background-color: rgb(172, 176, 176);
    height: 60px;
    padding: 10px;
}
.card{
    width: 1020px;
    height: 500px;
    margin-top: 50px;
    margin-left: 200px;
}
.btn{
    margin-left: 450px;
}
label{
 font-weight: bold;   
}
