<div class="card">
   <div class="header">
      Employee Registration
   </div>
        <div class="card-body">
            <div>
                <form [formGroup]="Emp" (ngSubmit)="addEmp()">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label  class="form-label">Employee Id</label>
                                <input type="text" class="form-control"  aria-describedby="emailHelp" formControlName="empid">
                                <!-- <div *ngIf= "EId?.invalid && EId?.touched">
                                    <small class="text-danger" *ngIf= "EId?.errors?.['required']">EmpId is required</small>   
                                </div> -->
                              </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Role</label>
                                <select class="form-select" aria-label="Default select example" formControlName="role" (change)="isSuperior($event)">
                                    <option selected>--select--</option>
                                    <option value="Project Manager">Project Manager</option>
                                    <option value="Team Leader">Team Leader</option>
                                    <option value="Developer">Developer</option>
                                  </select>
                                  <!-- <div *ngIf= "role?.invalid && role?.touched">
                                    <small class="text-danger" *ngIf= "role?.errors?.['required']">EmpId is required</small>   
                                </div>                                -->
                             </div>                             
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Superior</label>
                                <select class="form-select" formControlName="superior" id="opt" >
                                    <option *ngFor="let s of superiors" value="{{s.username}}">{{s.username}}</option>                      
                                </select> 
                               
                                   
                                                               
                              </div>                              
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">First Name</label>
                                <input type="text" class="form-control" aria-describedby="emailHelp" formControlName="firstname">
                              </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Last Name</label>
                                <input type="text" class="form-control" aria-describedby="emailHelp" formControlName="lastname">                                
                             </div>                             
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Username</label>
                                <input type="text" class="form-control"  aria-describedby="emailHelp" formControlName="username">                                
                              </div>                              
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Mobile Number</label>
                                <input type="number" class="form-control"  aria-describedby="emailHelp" formControlName="mobileno">
                              </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email Id</label>
                                <input type="email" class="form-control"  aria-describedby="emailHelp" formControlName="emailid">                                
                             </div>                             
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Qualification</label>
                                <select class="form-select" aria-label="Default select example" formControlName="qualification">
                                    <option selected>--select--</option>
                                    <option value="Degree">Degree</option>
                                    <option value="B.Tech">B.Tech</option>
                                    <option value="M.Tech">M.Tech</option>
                                    <option value="MBA">MBA</option>
                                    <option value="MCA">MCA</option>
                                    <option value="others">others</option>
                                  </select>                                
                              </div>                              
                        </div>
                    </div> 
                    <div class="col-sm-4">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Address</label>
                            <textarea type="text" class="form-control"  aria-describedby="emailHelp" formControlName="address"> </textarea>                               
                          </div>                              
                    </div> 
                    
            <div class="footer">
                <button type="submit" class="btn btn-primary" [disabled]="Emp.invalid" >Register</button>
            </div>              
                  </form>
            </div>
        </div>
</div>