<div class="card">
    <div class="header">
      Profile
    </div>
         <div class="card-body">
             <div>
                 <form [formGroup]="profile" >
                     <div class="row">
                         <div class="col-sm-4">
                             <div class="mb-3">
                                 <label  class="form-label">Employee Id</label>
                                 <input type="text" class="form-control"  aria-describedby="emailHelp" formControlName="empid">
                             </div>
                         </div>
                         <div class="col-sm-4">
                             <div class="mb-3">
                                 <label for="exampleInputEmail1" class="form-label">Role</label>
                                 <input type="text" class="form-control"  aria-describedby="emailHelp" formControlName="role">
                              </div>                             
                         </div>
                         <div class="col-sm-4">
                             <div class="mb-3">
                                 <label for="exampleInputEmail1" class="form-label">Superior</label>
                                 <input type="text" class="form-control"  aria-describedby="emailHelp" formControlName="superior">                              
                             </div>                              
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-sm-4">
                             <div class="mb-3">
                                 <label for="exampleInputEmail1" class="form-label">First Name</label>
                                 <input type="text" class="form-control" aria-describedby="emailHelp" formControlName="firstname">
                             </div>
                         </div>
                         <div class="col-sm-4">
                             <div class="mb-3">
                                 <label for="exampleInputEmail1" class="form-label">Last Name</label>
                                 <input type="text" class="form-control" aria-describedby="emailHelp" formControlName="lastname">                                
                              </div>                             
                         </div>
                         <div class="col-sm-4">
                             <div class="mb-3">
                                 <label for="exampleInputEmail1" class="form-label">Username</label>
                                 <input type="text" class="form-control"  aria-describedby="emailHelp" formControlName="username">                                
                               </div>                              
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-sm-4">
                             <div class="mb-3">
                                 <label for="exampleInputEmail1" class="form-label">Mobile Number</label>
                                 <input type="number" class="form-control"  aria-describedby="emailHelp" formControlName="mobileno">
                               </div>
                         </div>
                         <div class="col-sm-4">
                             <div class="mb-3">
                                 <label for="exampleInputEmail1" class="form-label">Email Id</label>
                                 <input type="email" class="form-control"  aria-describedby="emailHelp" formControlName="emailid">                                
                              </div>                             
                         </div>
                         <div class="col-sm-4">
                             <div class="mb-3">
                                 <label for="exampleInputEmail1" class="form-label">Qualification</label>
                                 <input type="text" class="form-control"  aria-describedby="emailHelp" formControlName="qualification">                               
                               </div>                              
                         </div>
                     </div> 
                     <div class="col-sm-4">
                         <div class="mb-3">
                             <label for="exampleInputEmail1" class="form-label">Address</label>
                             <textarea type="text" class="form-control"  aria-describedby="emailHelp" formControlName="address"> </textarea>                               
                           </div>                              
                     </div> 
                     
                          
                   </form>
             </div>
         </div>
 </div>
