.header{
    text-align: center;
    background-color: #998c75fa;
    height: 100px;
    font-weight: bold;
    padding: 30px;
    font-size: 30px;
    color: rgb(16 16 1);
}
.navbar{
    background-color: rgb(76 69 69);
    padding: 20px;
    height: 60px;    
}
a {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
